<!DOCTYPE html>
<html>
  <head>
    <title> NOT FOUND </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="3; url=/listFunc" />
    <style>
      body{
        border-style: outset;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p>Problemas de verificação ou digitação, redirecionando para a listagem geral!</p>
  </body>
</html>
